body {
  padding-top: 120px;
  margin: 0;
  padding: 120px;
  height: 100%;  
  background: linear-gradient(to bottom, #87CEEB, #00008B);
  background-attachment: fixed;
  overflow-y: auto;
}
pre {
  background: #f7f7f9;
}
@media (min-width: 768px) {
  body > .navbar-transparent {
    box-shadow: none;
  }
  body > .navbar-transparent .navbar-nav > .open > a {
    box-shadow: none;
  }
}
.nav-item-dropdown{
  color: rgb(228, 231, 228);
  align-items: center;
  text-align: center;
  padding: 5px;
  padding-top: 23px;
  opacity: 0.7;
}

.nav-item-dropdown:hover {
  opacity: 1;
}

.dropdown-menu{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 0;
  
}

.dropdown-toggle::after {
  display: none;
}

.nav-link-dropdown-toggle {
  text-decoration: none;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}


.col-lg-4 .card {
  position: absolute;
  left: 25%; 
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  border: 1px solid black;  
}

.dropdown-item{
  text-align: center;
}